In [1]:
pip install pandas numpy scikit-learn matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python38\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\admin\appdata\roaming\python\python38\site-packages (1.24.3)
Requirement already satisfied: scikit-learn in c:\users\admin\appdata\roaming\python\python38\site-packages (1.3.2)
Requirement already satisfied: matplotlib in c:\users\admin\appdata\roaming\python\python38\site-packages (3.7.5)
Requirement already satisfied: seaborn in c:\users\admin\appdata\roaming\python\python38\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (6.4.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.19.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Load the datasets
users = pd.read_csv('data/users.csv')
fake_users = pd.read_csv('data/fusers.csv')

# Add labels
users['is_fake'] = 0  # Real users labeled as 0
fake_users['is_fake'] = 1  # Fake users labeled as 1

# Combine both datasets
data = pd.concat([users, fake_users], ignore_index=True)

# Display dataset shape and first few rows
print(data.shape)
data.head()

(6825, 43)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,is_fake
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0.0,0.0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0.0,0.0,0
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,0.0,0.0,0
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,0.0,0.0,0
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,0.0,0.0,0

In [3]:
print(data.isnull().sum())

id                                       0
name                                     1
screen_name                              0
statuses_count                           0
followers_count                          0
friends_count                            0
favourites_count                         0
listed_count                             0
url                                   5458
lang                                     0
time_zone                             4015
location                              1684
default_profile                       2759
default_profile_image                 6806
geo_enabled                           4531
profile_image_url                        0
profile_banner_url                    3593
profile_use_background_image           399
profile_background_image_url_https       0
profile_text_color                       0
profile_image_url_https                  0
profile_sidebar_border_color             0
profile_background_tile               5348
profile_sidebar_fill_color               0
profile_background_image_url             0
profile_background_color                 0
profile_link_color                       0
utc_offset                            4015
is_translator                         6824
follow_request_sent                   6825
protected                             6747
verified                              6814
notifications                         6825
description                           1452
contributors_enabled                  6825
following                             6825
created_at                               0
timestamp                             3351
crawled_at                            3351
updated                                  0
test_set_1                            3351
test_set_2                            3351
is_fake                                  0
dtype: int64

In [4]:
import pandas as pd

# Specify the datetime format for 'updated'
updated_datetime_format = "%Y-%m-%d %H:%M:%S"

# Convert 'created_at' with a flexible parser (handles timezone info automatically)
data['created_at'] = pd.to_datetime(data['created_at'], format=None, errors='coerce', utc=True)

# Convert 'updated' with the specified format (naive)
data['updated'] = pd.to_datetime(data['updated'], format=updated_datetime_format, errors='coerce')

# Localize 'updated' to UTC if it's naive
if data['updated'].dt.tz is None:
    data['updated'] = data['updated'].dt.tz_localize('UTC')

# Extract features from datetime columns
data['created_year'] = data['created_at'].dt.year
data['created_month'] = data['created_at'].dt.month
data['created_day'] = data['created_at'].dt.day
data['created_hour'] = data['created_at'].dt.hour

data['updated_year'] = data['updated'].dt.year
data['updated_month'] = data['updated'].dt.month
data['updated_day'] = data['updated'].dt.day

# Calculate the difference in days between created and updated
data['days_diff'] = (data['updated'] - data['created_at']).dt.days

print(data)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11996\1682990529.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['created_at'] = pd.to_datetime(data['created_at'], format=None, errors='coerce', utc=True)

              id               name      screen_name  statuses_count  \
0     1502026416    TASUKU HAYAKAWA         0918Bask            2177
1     2492782375              ro_or         1120Roll            2660
2      293212315           bearclaw        14KBBrown            1254
3      191839658  pocahontas farida      wadespeters          202968
4     3020965143           Ms Kathy  191a5bd05da04dc              82
...          ...                ...              ...             ...
6820  1391497074        Verda Marks      VerdaMarks1               1
6821  1391544607    Danial Campbell  DanialCampbell2               0
6822  1391622127       Maudie Meyer     MaudieMeyer1               2
6823  1391832212    Harriett Harvey  HarriettHarvey9               2
6824  1391998039    Gillian Wheeler  GillianWheeler3               0

      followers_count  friends_count  favourites_count  listed_count  \
0                 208            332               265             1
1                 330            485              3972             5
2                 166            177              1185             0
3                2248            981             60304           101
4                  21             79                 5             0
...               ...            ...               ...           ...
6820                0             17                 0             0
6821                1             17                 0             0
6822                0             15                 0             0
6823                0             16                 0             0
6824                0             17                 0             0

                         url lang  ... test_set_2 is_fake  created_year  \
0                        NaN   ja  ...        0.0       0          2013
1                        NaN   ja  ...        0.0       0          2014
2                        NaN   en  ...        0.0       0          2011
3     http://t.co/rGV0HIJGsu   en  ...        0.0       0          2010
4                        NaN   en  ...        0.0       0          2015
...                      ...  ...  ...        ...     ...           ...
6820                     NaN   en  ...        NaN       1          2013
6821                     NaN   en  ...        NaN       1          2013
6822                     NaN   en  ...        NaN       1          2013
6823                     NaN   en  ...        NaN       1          2013
6824                     NaN   en  ...        NaN       1          2013

      created_month  created_day created_hour updated_year  updated_month  \
0                 6           11           11         2016              3
1                 5           13           10         2016              3
2                 5            4           23         2016              3
3                 9           17           14         2016              3
4                 2            6            4         2016              3
...             ...          ...          ...          ...            ...
6820              4           30            8         2013              6
6821              4           30            8         2013              6
6822              4           30            9         2013              6
6823              4           30           11         2013              6
6824              4           30           12         2013              6

     updated_day days_diff
0             15      1008
1             15       672
2             15      1776
3             15      2006
4             15       403
...          ...       ...
6820          12        43
6821          12        43
6822          12        43
6823          12        43
6824          12        43

[6825 rows x 51 columns]

In [5]:
data.head(4)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,test_set_2,is_fake,created_year,created_month,created_day,created_hour,updated_year,updated_month,updated_day,days_diff
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,0.0,0,2013,6,11,11,2016,3,15,1008
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,0.0,0,2014,5,13,10,2016,3,15,672
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,0.0,0,2011,5,4,23,2016,3,15,1776
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,0.0,0,2010,9,17,14,2016,3,15,2006

In [6]:
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [7]:
data.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,test_set_2,is_fake,created_year,created_month,created_day,created_hour,updated_year,updated_month,updated_day,days_diff
0,1120863444,Amanda,amandaaalouisss,43447,1068,822,8097,2,https://t.co/xuFE9YdbOb,en,...,0.0,0,2013,1,26,3,2016,3,15,1144
1,2585969946,օʟıѵıɑ,liv_fortner,2296,252,573,3150,1,NaN,en,...,0.0,0,2014,6,24,16,2016,3,15,629
2,179662214,karen Hess,hormecinda,0,4,601,0,0,NaN,en,...,NaN,1,2010,8,17,20,2013,6,12,1029
3,1329916243,Iván Santano,ivansm_28,559,236,207,402,1,NaN,es,...,0.0,0,2013,4,5,19,2016,3,15,1074
4,1176318060,Elly Mayhew,MayhewpyeElly,15,9,196,2,0,NaN,en,...,NaN,1,2013,2,13,17,2013,6,12,119

In [8]:
# Keep only the necessary columns
features = [
    'friends_count','statuses_count','followers_count','favourites_count', 'listed_count', 
    'favourites_count','days_diff'
]
target = 'is_fake'

X = data[features]
y = data[target]

In [9]:
data[features]

,friends_count,statuses_count,followers_count,favourites_count,listed_count,favourites_count,days_diff
0,822,43447,1068,8097,2,8097,1144
1,573,2296,252,3150,1,3150,629
2,601,0,4,0,0,0,1029
3,207,559,236,402,1,402,1074
4,196,15,9,2,0,2,119
...,...,...,...,...,...,...,...
6820,544,3,13,0,0,0,1114
6821,206,20,13,0,0,0,119
6822,191,19,9,2,0,2,119
6823,207,20,6,0,0,0,119
6824,133,373,39,6,1,6,1898

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [12]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score

# Make predictions
y_pred = model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

# Classification Report
print("Classification Report:\n", classification_report(y_test, y_pred))

# Confusion Matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

# F1 Score (macro-averaged)
f1 = f1_score(y_test, y_pred, average='macro')
print(f"F1 Score (Macro): {f1:.4f}")

Accuracy: 0.9912
Classification Report:
               precision    recall  f1-score   support

           0       0.99      0.99      0.99       686
           1       0.99      0.99      0.99       679

    accuracy                           0.99      1365
   macro avg       0.99      0.99      0.99      1365
weighted avg       0.99      0.99      0.99      1365

Confusion Matrix:
 [[682   4]
 [  8 671]]
F1 Score (Macro): 0.9912

In [13]:
import joblib

joblib.dump(model, 'fake_user_model2.pkl')

['fake_user_model2.pkl']

In [14]:
loaded_model = joblib.load('fake_user_model2.pkl')

In [15]:
from sklearn.metrics import accuracy_score

# Assuming your model is trained and you have a training and test set
# X_train, X_test, y_train, y_test are your training features, training labels, test features, and test labels respectively

# Training accuracy
y_train_pred = loaded_model.predict(X_train)  # Predict on the training data
train_accuracy = accuracy_score(y_train, y_train_pred)  # Calculate the training accuracy
print(f"Training Accuracy: {train_accuracy * 100:.2f}%")

# Test accuracy
y_test_pred = loaded_model.predict(X_test)  # Predict on the test data
test_accuracy = accuracy_score(y_test, y_test_pred)  # Calculate the test accuracy
print(f"Test Accuracy: {test_accuracy * 100:.2f}%")

Training Accuracy: 100.00%
Test Accuracy: 99.12%

In [16]:
import pandas as pd

# Load or simulate your trained model (Replace this with your actual model)
class FakeAccountModel:
    def predict(self, X):
        # Dummy prediction logic for demonstration: Fake if followers_count < 10
        return [1 if x < 10 else 0 for x in X['followers_count']]

# Test case data (single account for testing)
test_data = pd.DataFrame([{
    "statuses_count": 150,
    "followers_count": 5,  # Example follower count to test
    "friends_count": 50,
    "favourites_count": 10,
    "listed_count": 0,
    "default_profile": True,
    "default_profile_image": True,
    "geo_enabled": False,
    "profile_use_background_image": True,
    "profile_background_tile": False,
    "created_year": 2015,
    "created_month": 1,
    "created_day": 1,
    "created_hour": 10,
    "days_diff": 4
}])

# Feature selection (same as used during training)
features = [
    'statuses_count', 'followers_count', 'friends_count', 'favourites_count',
    'listed_count', 'default_profile', 'default_profile_image', 'geo_enabled',
    'profile_use_background_image', 'profile_background_tile', 'created_year',
    'created_month', 'created_day', 'created_hour', 'days_diff'
]

# Initialize the model (Replace with your trained model)
model = FakeAccountModel()

# Perform prediction
prediction = model.predict(test_data[features])

# Check result
result = "Fake" if prediction[0] == 1 else "Real"
print(f"Test Case Prediction: {result}")

Test Case Prediction: Fake

In [17]:
import pandas as pd

# Load or simulate your trained model (Replace this with your actual model)
class FakeAccountModel:
    def predict(self, X):
        # Dummy prediction logic: Fake if followers_count < 10
        return [1 if x < 10 else 0 for x in X['followers_count']]

# Test case data (single account for testing)
test_data = pd.DataFrame([{
    "statuses_count": 500,               # High activity
    "followers_count": 1500,            # Significant followers
    "friends_count": 300,               # Reasonable friend count
    "favourites_count": 200,            # Active engagements
    "listed_count": 10,                 # Included in lists
    "default_profile": False,           # Customized profile
    "default_profile_image": False,     # Profile picture is set
    "geo_enabled": True,                # Geo-tagging enabled
    "profile_use_background_image": False,  
    "profile_background_tile": False,
    "created_year": 2012,               # Old account
    "created_month": 6,
    "created_day": 15,
    "created_hour": 14,
    "days_diff": 3650                   # Long time since creation
}])

# Feature selection (same as used during training)
features = [
    'statuses_count', 'followers_count', 'friends_count', 'favourites_count',
    'listed_count', 'default_profile', 'default_profile_image', 'geo_enabled',
    'profile_use_background_image', 'profile_background_tile', 'created_year',
    'created_month', 'created_day', 'created_hour', 'days_diff'
]

# Initialize the model (Replace with your trained model)
model = FakeAccountModel()

# Perform prediction
prediction = model.predict(test_data[features])

# Check result
result = "Fake" if prediction[0] == 1 else "Real"
print(f"Test Case Prediction: {result}")

Test Case Prediction: Real

In [18]:
import pandas as pd

# Load or simulate your trained model (Replace this with your actual model)
class FakeAccountModel:
    def predict(self, X):
        # Dummy prediction logic: Fake if followers_count < 10
        return [1 if x < 10 else 0 for x in X['followers_count']]

# Test case data (single account for testing)
test_data = pd.DataFrame([{
    "statuses_count": 1200,             # High activity level
    "followers_count": 950,            # Decent number of followers
    "friends_count": 800,              # Balanced friend count
    "favourites_count": 500,           # Actively liking posts
    "listed_count": 5,                 # Listed but not excessively
    "default_profile": False,          # Custom profile
    "default_profile_image": False,    # Custom profile image
    "geo_enabled": True,               # Geo-tagging enabled
    "profile_use_background_image": True,
    "profile_background_tile": False,
    "created_year": 2015,              # Moderately old account
    "created_month": 3,
    "created_day": 25,
    "created_hour": 18,
    "days_diff": 3000                  # Long time since creation
}])

# Feature selection (same as used during training)
features = [
    'statuses_count', 'followers_count', 'friends_count', 'favourites_count',
    'listed_count', 'default_profile', 'default_profile_image', 'geo_enabled',
    'profile_use_background_image', 'profile_background_tile', 'created_year',
    'created_month', 'created_day', 'created_hour', 'days_diff'
]

# Initialize the model (Replace with your trained model)
model = FakeAccountModel()

# Perform prediction
prediction = model.predict(test_data[features])

# Check result
result = "Fake" if prediction[0] == 1 else "Real"
print(f"Test Case Prediction: {result}")

Test Case Prediction: Real

In [19]:
import pandas as pd

# Load or simulate your trained model (Replace this with your actual model)
class FakeAccountModel:
    def predict(self, X):
        # Dummy prediction logic: Fake if followers_count < 10
        return [1 if x < 10 else 0 for x in X['followers_count']]

# Test data for a real account
real_account_data = pd.DataFrame([{
    "statuses_count": 1500,             # High activity level
    "followers_count": 2000,           # Significant number of followers
    "friends_count": 500,              # Balanced friend count
    "favourites_count": 800,           # Active engagements
    "listed_count": 20,                # Listed by others
    "default_profile": False,          # Customized profile
    "default_profile_image": False,    # Custom profile picture
    "geo_enabled": True,               # Geo-tagging enabled
    "profile_use_background_image": True,
    "profile_background_tile": False,
    "created_year": 2012,              # Old account
    "created_month": 5,
    "created_day": 20,
    "created_hour": 15,
    "days_diff": 4000                  # Long time since creation
}])

# Feature selection (same as used during training)
features = [
    'statuses_count', 'followers_count', 'friends_count', 'favourites_count',
    'listed_count', 'default_profile', 'default_profile_image', 'geo_enabled',
    'profile_use_background_image', 'profile_background_tile', 'created_year',
    'created_month', 'created_day', 'created_hour', 'days_diff'
]

# Initialize the model (Replace with your trained model)
model = FakeAccountModel()

# Perform prediction for real account
real_prediction = model.predict(real_account_data[features])
real_result = "Fake" if real_prediction[0] == 1 else "Real"
print(f"Real Account Test Case Prediction: {real_result}")

Real Account Test Case Prediction: Real

In [20]:
# Test data for a fake account
fake_account_data = pd.DataFrame([{
    "statuses_count": 5,               # Very low activity
    "followers_count": 3,              # Minimal followers
    "friends_count": 2,                # Few friends
    "favourites_count": 1,             # Very low engagement
    "listed_count": 0,                 # Not listed
    "default_profile": True,           # Default profile settings
    "default_profile_image": True,     # No profile picture
    "geo_enabled": False,              # No geolocation enabled
    "profile_use_background_image": True,
    "profile_background_tile": True,
    "created_year": 2024,              # Recently created account
    "created_month": 11,
    "created_day": 15,
    "created_hour": 10,
    "days_diff": 5                     # Very recent account
}])

# Perform prediction for fake account
fake_prediction = model.predict(fake_account_data[features])
fake_result = "Fake" if fake_prediction[0] == 1 else "Real"
print(f"Fake Account Test Case Prediction: {fake_result}")

Fake Account Test Case Prediction: Fake